<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Summary" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/summary">
    <ion-nav-view name="summary"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Checkin" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/checkin">
    <ion-nav-view name="checkin"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Checkout" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/checkout">
    <ion-nav-view name="checkout"></ion-nav-view>
  </ion-tab>

</ion-tabs>
